@charset "UTF-8";
/* CSS Document */

body
{
	background-color: #91b1c6;
	background-image: url(../images/containerBg.png);
	background-position:center;
	background-repeat:repeat-y;
	color: #333333;
	font-family: "Lucida Grande", Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

div.clearBoth { clear: both; }

a, a:active, a:visited { color: #3287d7; }
a:hover { color: #0685fd; }

p
{
	line-height: 20px;
}

p.largeText
{
	font-size: 16px;
	font-weight: normal;
	color: #666666;
	line-height: 26px;
}

h1, h2, h3, h4, h5
{
	font-weight: normal;
}

h2
{
	color: #555555;
	font-size: 30px;
	padding: 0;
	margin: 8px 0 24px 0;
}

.alphaTag {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 5;
}

div.mainContainer
{
	width: 950px;
	margin: 0 auto;
	background-image: url(../images/containerBg.png);
	padding: 0;
}




/* Header */

div.headerContainer
{
	width: 850px;
	text-align: center;
	height: 100px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
}

div.headerContainerInner
{
	float: left;
}

div.headerLeft
{
	float: left;
	height: 100px;
	width: 270px;
}

div.nav
{
	float: left;
	background-image: url(../images/headerNavBg.png);
	height: 100px;
	max-width: 567px;
}

ul.nav
{
	list-style-type: none;
	margin: 43px 0 0 0;
	padding: 0;
}

ul.nav li
{
	display: inline;
	font-size: 13px;
	margin: 0;
	padding: 0 12px 0 9px;
	border-right: 1px solid #dfdfdf;
}

ul.nav li.first {
	padding: 0 12px 0 5px;
}

ul.nav li.last {
	border: none;
	padding: 0 3px 0 12px;
}

ul.nav li a, ul.nav li a:active, ul.nav li a:visited
{
	color: #666666;
	text-decoration: none;
	font-weight: bold;
}

ul.nav li a:hover { color: #333333; }

ul.nav li.thisPage a, ul.nav li.thisPage a:active, ul.nav li.thisPage a:visited
{
	color: #3287d7;
	text-decoration: none;
	font-weight: bold;
}

ul.nav li.thisPage a:hover { color: #005fb7; }

div.headerRight
{
	background-image: url(../images/headerRight.png);
	float: left;
	height: 100px;
	width: 41px;
}


/* /Header */

div.contentBoxTop
{
	background-image: url(../images/main_content_box_top.png);
	margin: 0 auto;
	padding: 0;
	width: 850px;
	height: 27px;
}

div.contentBox
{
	background-image: url(../images/main_content_box_bg.png);
	width: 750px;
	margin: 0 auto;
	padding: 0 50px;
	overflow: hidden;
}

div.contentBoxBottom
{
	background-image: url(../images/main_content_box_bottom.png);
	margin: 0 auto;
	padding: 0;
	width: 850px;
	height: 26px;
}

div.footer
{
	color: #444444;
	font-size: 11px;
	margin: 50px 0 0 0;
	padding: 0;
}

div.footer div.footerContainer
{
	margin: 0 auto;
	padding: 0;
	width: 750px;
}