@charset "UTF-8";
/* CSS Document */

div.loginBox
{
	width: 200px;
	padding: 0;
	overflow: hidden;
}

div.loginBox span.loginBoxHeader
{
	font-size: 18px;
	color: #555555;
	line-height: 25px;
}

div.loginBox span.loginBoxHeader span.welcomeback
{
	color: #999999;
}

div.loginBox input
{
	margin-top: 15px;
	width: 188px;
}

div.loginBox input.submitButton
{
	width: auto;
}

div.loginBox ul.links
{
	list-style-type: none;
	margin: 20px 0;
	padding: 0;
}

div.loginBox ul.links li
{
	color: #999999;
	margin: 4px 0;
}

div.loginBox p.bottomText
{
	margin: 10px 0 0 0;
	font-size: 11px;
}