@charset "UTF-8";
/* CSS Document */

body
{
	background-color: #efefef;
	color: #333333;
	font-family: "Lucida Grande", Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

div.clearBoth { clear: both; }

a, a:active, a:visited { color: #0033CC; }
a:hover { color: #0066FF; }

p
{
	line-height: 20px;
}

h1, h2, h3, h4, h5
{
	font-weight: normal;
}

h2
{
	color: #555555;
	font-size: 30px;
	padding: 0;
	margin: 8px 0 24px 0;
}



/* Header */

div.headerContainer
{
	background-image: url(../images/header_placeholder.png);
	width: 850px;
	height: 100px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
}

div.header ul.nav
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.header ul.nav li
{
	display: inline;
	font-size: 17px;
	margin: 0 20px 0 0;
	padding: 0;
}

/* /Header */

div.contentTop
{
	background-image: url(../images/main_content_box_top.png);
	margin: 0 auto;
	padding: 0;
	width: 850px;
	height: 27px;
}

div.content
{
	background-image: url(../images/main_content_box_bg.png);
	width: 750px;
	margin: 0 auto;
	padding: 0 50px;
	overflow: hidden;
}

div.contentBottom
{
	background-image: url(../images/main_content_box_bottom.png);
	margin: 0 auto;
	padding: 0;
	width: 850px;
	height: 26px;
}

div.footer
{
	background-color: #f6f6f1;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	color: #444444;
	font-size: 13px;
	margin: 50px 0;
	padding: 20px 0;
}

div.footer div.footerContainer
{
	margin: 0 auto;
	padding: 0;
	width: 800px;
}