@charset "UTF-8";
/* CSS Document */

div.loginBox
{
	background-color: #f7f7f7;
	width: 200px;
	padding: 20px;
	border: 1px solid #cccccc;
	overflow: hidden;
}

div.loginBox span.loginBoxHeader
{
	font-size: 18px;
	color: #00AA00;
}

div.loginBox input
{
	margin-top: 15px;
	width: 188px;
}

div.loginBox input.submitButton
{
	width: auto;
}

div.loginBox p.bottomText
{
	margin: 10px 0 0 0;
	font-size: 11px;
}